SUPABASE_URL=https://dszzgenzrmxxcnrzvdwi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6enpnZW56cm14ZGNucnp2ZHdpIiwiaWF0IjoxNzg5NDIyMjE1MzUsImV4cCI6MjEwNDk5ODE1M30.CD64fa5bvh9BKFQrW24ROJieROWz1GKH6-TxILUjWuE
